/* Elements */
html {
  background-color: white;
}

body {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(40, 100%, 79%, 0.4);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 20px;
}

header {
  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
}

img {
  margin-bottom: 1em;
  border: .15em solid hsla(214, 100%, 55%, 0.7);
  border-radius: 50%;
}

nav button {
  display: inline-block;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
  background-color: hsla(214, 100%, 55%, 0.7);
  border: .1em solid hsla(214, 100%, 55%, 0.7);
  border-radius: .5em;

}
nav button:hover {
  color: white;
  background-color: hsla(188, 100%, 59%, 1.0);
  border: .1em solid hsla(188, 100%, 59%, 1.0);
}

main {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: .2em;
}

h2 {
  font-size: 1.7em;
  margin-bottom: .5em;
}

h3 {
  font-size: 1.2em;
  padding: 1em;
}

article {
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
  padding: 1em;
  width: 90%;
  border-radius: .5em;
}

article p {
  text-align: justify;
  margin: 1em
}

canvas, video {
  border: 1px solid hsla(185, 8%, 87%, 1.0);
}

footer {
  text-align: center;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

/* IDs */
#snap {
  display: block;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

#index-video {
  margin-bottom: 1em;
}
