form {
  width: 50%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: .5em;
  padding: 1em;
  color: hsla(0, 0%, 24%, 1.0);
}

legend {
  font-size: 1.2em;
  letter-spacing: .1em;
}

fieldset {
  border-radius: .5em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: none;
  border: .1em solid hsla(0, 0%, 75%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.5);
}

label {
  font-size: .9em;
  font-weight: bolder;
  letter-spacing: .02em;
}

select {
  display: block;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

input:not(#same-address) {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
  display: block;
  border: .05em solid black;
  padding: .5em;
}

textarea {
  display: block;
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  min-height: 10em;
  border: none;
}

hr {
  border-top: .1em solid hsla(0, 0%, 75%, 0.5);
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 50%;
  margin-bottom: .5em;
}

#credit-cards {
  border: 1px solid black;
  display: inline;
}

#submit {
  font-size: 1.5em;
  color: white;
  background-color: hsla(214, 100%, 55%, 0.7);
  padding: .5em;
  border-radius: .5em;
  border: .05em solid hsla(214, 100%, 55%, 0.0);
  margin: .5em 0 .5em 0;
  cursor: pointer;
}

#submit:hover {
  background-color: hsla(135, 99%, 42%, 1.0);
  color: white;
}

#place-order {
  font-size: 1.5em;
  color: white;
  background-color: hsla(214, 100%, 55%, 0.7);
  padding: .5em;
  border-radius: .5em;
  border: .05em solid hsla(214, 100%, 55%, 0.0);
  margin: .5em 0 .5em 0;
  cursor: pointer;
}

#place-order:hover {
  background-color: hsla(135, 99%, 42%, 1.0);
  color: white;
}

.form-size {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: .5em;
}

.contact-form {
  display: none;
}

.form-header h2 {
  font-weight: lighter;
  letter-spacing: .01em;
  margin: 0;
  padding: .5em;
}

.form-header {
  width: 50%;
}

.form-footer {
  width: 92%;
  margin-right: auto;
  margin-left: auto;
}

.form-footer h2 {
  font-weight: lighter;
  letter-spacing: .01em;
  margin: 0;
  padding: .5em;
}
